.search-page {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.search-input {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.no-results {
    font-size: 1rem;
    color: #777;
}

@media (max-width: 800px) {
    .search-page {
        padding: 1rem;
    }

    .search-input {
        font-size: 1rem;
        padding: 0.6rem 0.8rem;
        max-width: 90%;
    }

    .search-results {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .search-page h1 {
        font-size: 1.5rem;
    }
}