.game-card {
    width: 250px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    transition: transform 0.2s ease;
}

.game-card a {
    text-decoration: none!important;
    color: black;
}

.game-card:hover {
    transform: scale(1.04);
}

.game-card img {
    width: 100%;
    height: auto;
    display: block;
}

.game-card h3 {
    padding: 0.5rem;
    font-size: 1rem;
    color: #333;
}

.game-card p {
    font-size: 12px;
}

.popular-badge {
    display: inline-block;
    background-color: #ffefc3;
    color: #e65100;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.75rem;
    margin-top: 4px;
    margin-bottom: 6px;
}

.game-categories {
    display: block;
    font-size: 0.85rem;
    color: #777;
}