@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.chewy-regular {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #4facfe;
    border-bottom: 1px solid #ddd;
}

.navbar:hover {
    background-color: #00c6ff;
}

.nav-links a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    font-size: 1.5em;
}

#title a {
    font-family: "Chewy", system-ui;
    font-size: 5em;
    color: white;
    text-decoration: none;
    -webkit-text-stroke: thin black;
}